.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-weight: 500;
}

.input, button {
  width: 18rem;
  margin-top: .5rem;
}

