<div class="container">
  <h1>Adicionar Endereço à pessoa {{ pessoa.nome }}</h1>

  <mat-form-field appearance="fill" class="input-logradouro">
    <mat-label>Logradouro</mat-label>
    <input matInput placeholder="" [(ngModel)]="endereco.logradouro">
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-numero">
    <mat-label>Numero</mat-label>
    <input matInput placeholder="" [(ngModel)]="endereco.numero">
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-cep">
    <mat-label>CEP</mat-label>
    <input matInput placeholder="" [(ngModel)]="endereco.cep">
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-cidade">
    <mat-label>Cidade</mat-label>
    <input matInput placeholder="" [(ngModel)]="endereco.cidade">
  </mat-form-field>

  <mat-checkbox class="input-principal" [(ngModel)]="endereco.principal">Principal</mat-checkbox>

  <button mat-raised-button color="primary" mat-dialog-close="true" (click)="criarEndereco()">
    Adicionar
  </button>
  <button mat-stroked-button color="warn" mat-dialog-close="false">Cancelar</button>
</div>
